<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <section th:fragment="menu">
        	<a href="/ethConnectWallet" class="btn btn-primary">Connect Eth Wallet</a>
         	<a href="/ethSimpleTransfer" class="btn btn-primary">Eth Simple Transfer</a>
	        <a href="/ethSimpleStorage" class="btn btn-primary">Eth Simple Storage</a>
	        <a href="/ethFundMe" class="btn btn-primary">Eth Fund Me</a>
	        <a href="/ethDApp" class="btn btn-primary">Eth DApp</a>
    		<br>--------------------------------------------------------------------------------------<br>
    </section>
</body>
</html>