<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <title>Eth Wallet</title>
      <meta name="description" content="" />
      <meta name="viewport" content="width=device-width" />
      <base href="/" />
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
         integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
         integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
         crossorigin="anonymous"></script>
   </head>
   <body>
      <div class="container">
         <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-bottom: 20px">
            <div class="container-fluid">
               <a class="navbar-brand" href="/">Eth Wallet</a>
            </div>
         </nav>
         <section class="content">
	         <div th:insert="ethMenu :: menu"></div>
	        
	         <h3>URL: <span class="card-title" th:text="${url}"></span></h3>
	         <h3>Account 1: <span class="card-title" th:text="${ethAddressAccount1}"></span></h3>
	         <br>Balance:<h3 class="card-title" th:text="${account1BeforeBalance}"></h3>
	         <h3>Account 2: <span class="card-title" th:text="${ethAddressAccount2}"></span></h3>
	         <br>Balance:<h3 class="card-title" th:text="${account2BeforeBalance}"></h3>
         </section>
      </div>
   </body>
</html>
